<h1 class="text-center monospace p-2 primaryColor">Dashboard</h1>
<h4 class="text-center monospace p-2 secondaryColor">Welocome <%= user.name %>!</h4>
<h5 class="text-center monospace p-2 text-light">Your email is <%= user.email %> </h5>
<a href="/users/logout">
    <button class="btn btn-outline-light w-100 mt-5">Logout</button>
</a>