<style>
    .btnscontainer {

        min-height: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
</style>
<h1 class="text-center monospace p-2 primaryColor">Welocome</h1>
<h4 class="text-center monospace p-2 secondaryColor">create your account or login</h4>
<div class="btnscontainer">
    <a href="/users/login"> <button class="primaryColor btn btn-outline-light w-100 p-2 m-1 mt-5">Login</button></a>
    <a href="/users/register">
        <button class="primaryColor btn btn-outline-light w-100 p-2 m-1 mt-3">Register</button>
    </a>
</div>